<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
	<link th:href="@{css/style.css}" rel="stylesheet">
	<link th:href="@{css/styleControl.css}" rel="stylesheet">
	<link rel="stylesheet" th:href="@{css/bootstrap.min.css}">

	<title>EZShipping</title>
</head>

<body id="bootstrap-overrides">
	<header th:fragment="header">
		<nav class="navbar mynav">
			<a class="navbar-brand" href="#">
				<div class="logo">
					<img th:src="@{/images/logo.jpg}" width="50" height="50" class="d-inline-block align-top" alt=""
					loading="lazy">
					EZShipping
				</div>
			</a>

			<ul class="nav-links">
				<li><a href="/">Inicio</a></li>
				<li><a href="#">Servicios</a></li>
				<li><a href="#">Sobre Nosotros</a></li>
				<li><a href="#">Contáctanos</a></li>

			</ul>
			<div class="burger">
				<div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
			</div>
		</nav>
	</header>

	<footer th:fragment="footer">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
			crossorigin="anonymous"></script>
		<script th:src="@{js/app.js}"></script>
		<div class="">
			<p>Políticas de privacidad</p>
		</div>
	</footer>
</body>

</html>