<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body id="bootstrap-overrides">
	<header th:replace="layout/layout :: header"></header>

	<section class="zoom">
		<div class="adjust-title">
			<h1>Bienvenido!</h1>
			<h2>
				Hello, <span th:text="${nombre}"></span>
			</h2>
		</div>

	</section>

	<section class="content">
		<div class="container">
			<div class="row">
				<div class="col-sm">
					<img src="images/Enviar_Icon.png" class="myicons">
					<p text-align="center" class="my_text">Envía</p>
				</div>
				<div class="col-sm">
					<img src="images/Rastrear_Icon.png" class="myicons">
					<p text-align="center" class="my_text">Rastrea</p>
				</div>
				<div class="col-sm">
					<img src="images/Historial_Icon.png" class="myicons">
					<p text-align="center" class="my_text">Historial</p>
				</div>
			</div>
		</div>
	</section>

	<footer th:replace="layout/layout :: footer"></footer>

</body>

</html>