<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> 
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link th:href="@{css/style.css}" rel="stylesheet">
    <link th:href="@{css/styleControl.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
	<link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
	
	<!-- Logo -->
	<title>Realiza tu reclamo</title>
	

  </head>
  <body id="bootstrap-overrides">
	<nav class="navbar mynav">
		<div class="logo">
			<h4>EZShipping</h4>
		</div>
		<ul class="nav-links">
			<li><a href="../">Inicio</a></li>
			<li><a href="personas">Personas</a></li>
			<li><a href="#">Clientes</a></li>
			<li><a href="#">Trabajadores</a></li>
		</ul>
		
		<div class="burger">
			<div class="line1"></div>
			<div class="line2"></div>
			<div class="line3"></div>
		</div>
	</nav>
	<section class="BackGr">
		<h1>			
			Realizar reclamo
		</h1>

	
	<!-- Ingresar data y enviarlo al Controller -->
	<div>
		<section class="differ">
		<div class="shadow">
		<form th:action="@{/reclamos/save}" th:object="${reclamo}" method="post">
		<div class="form-group">
			<div>
			<label for="exampleFormControlTextarea1">Escriba su reclamo</label>
			</div>
			<div class="col">
				<input type="text" class="form-control" placeholder="¿Qué no le agaradó?" th:field="*{descripcion}">
			</div>
		</div>
		<button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Grabar</button>
		</form>
		</div>
		</section>
	</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
	<script th:src="@{js/app.js}"></script>
	
  </body>
</html>